

.statusContainer{
	width:66.67%;
	margin: 10px auto;
}

.panel{
	margin-top:30px;
	border-radius: 5px 5px 3px 3px;
	padding:0;
}

.panel-heading{
	border-radius:5px 5px 0 0;
	background-color:#0D6EFD;
	padding: 10px 10px 10px 15px;
	color:#fff;
}

.panel-body{
    padding: 10px 10px 10px 15px;
    border: 1px solid #808080;
}

.statusPostTitle{
	text-align:center;
	color:#fff;
}



.statusForm{
	padding:10px;
}

.statusArea{
    width: 100%;
    background-color: #fff;
    padding: 8px 12px;
    word-wrap: break-word;
}

.myButton{
    border: none;
    border-radius:5px;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    color: #FFFFFF;
    background-color: #4CAF50;
}

.statusButton{
    margin-top: 20px;
    border: none;
    border-radius:5px;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    color: #FFFFFF;
    background-color: #4CAF50;
}


textarea {
	width: 100%;
}

.errors {
	color: red;
}

.pagination {
	margin-top: 20px;
	margin-bottom: 40px;
}

.homepage-status {
	text-align: center;
	margin-top: 30px;
	font-size: larger;
}

.edit-links {
	margin-top: 10px;
}

.d-flex.searchForm{
	margin: auto;
}


/*PROFILE*/

.profile-image{
	float:left;
	margin: 10px 0;
}

.avatar-img{
	width:150px;
}

.profile-about{
	width:100%;
	border: 1px solid #808080;
	padding:50px;
	overflow:auto;
}

.profile-about-edit{
	right:50px;
	bottom:0px;
}

/* List of results */

.results-photo {
	display: inline-block;
}

.results-details {
	display: inline-block;
	margin-left: 20px;
}

.results-name {
	font-size: 1.5em;
	font-weight: bold;
}

.results-interests {
	font-size: 1.3em;
}

.person-row {
	border: 1px solid orange;
	margin-bottom: 1em;
}

.chat-message {
	border-radius: 5px;
	color: white;
	font-weight: bold;
	margin: 5px;
	padding: 5px;
}

.chat-message-sent {
	width: 70vw;
	background-color: blue;
}

.chat-message-reply {
	width: 60vw;
	margin-left: 10vw;
	background-color: green;
}

#chat-message-record {
	overflow-y: auto;
	display: flex;
	flex-direction: column-reverse;
	padding-bottom: 10px;
}

.message-received {
	width: 80%;
	background-color: orange;
	color: white;
	font-weight: bold;
	margin: 10px;
	padding: 10px;
	border-radius: 50px;
	border: 1px solid gray;
}

.message-received > a {
	color: white;
}

.profilePhotoImage{
	width:70px;
}

#profilePhotoImage{
	width:100px;
}